.footer_block {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
    background-color: rgba(230, 234, 243, 0.5);
    color: #797984;
    bottom: 1.5%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
}
.footer_block.active {
    display: none;
}

.no_underline_footer {
    text-decoration: none;
    color: #797984;
}

.footer_block p {
    padding: 0;
    margin-top: 3px;
}

.footer_main.active {
   color: #523DD8;
}

.footer_main.active svg g path {
    fill: #523DD8;
}

.footer_trips.active {
    color: #523DD8;
}

.footer_trips.active svg path {
    fill: #523DD8;
}

