.header_block {
  padding-top: 15px;
  padding-bottom: 10px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  background: rgb(23,37,99);
  background: -moz-linear-gradient(180deg, rgba(23,37,99,0.8) 0%, rgba(23,37,99,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(23,37,99,0.8) 0%, rgba(23,37,99,0) 100%);
  background: linear-gradient(180deg, rgba(23,37,99,0.8) 0%, rgba(23,37,99,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#172563",endColorstr="#172563",GradientType=1);
}
.header_block.active {
  display: none;
}

.header_logo {
  margin-left: 10px;
  width: 83.46px;
  cursor: pointer;
}

.header_text {
  color: #ffffff;
}

.header_user {
  background-color: #ffffff;
  text-align: center;
  border-radius: 25px;
  font-size: 10px;
  display: inline-flex;
  gap: 5px;
  padding-left: 10px;
  padding-right: 2px;
  margin-right: 10px;
  align-items: center;
  font-weight: 400;
  line-height: 10px;
  height: 29px;
}

/* .header_user .first {
    
} */

/* .header_user .second {
   
} */

.header_bold {
  font-weight: 900;
}
