.trip_body {
    margin-top: 20px;
    width: 94%;
    background-color: #E6E7EB;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}
.trip_body::-webkit-scrollbar {
    display: none;
  }

.blur-content {
    filter: blur(5px);
}

.block_none {
    display: none;
}

.content {
    transition: filter 0.5s ease-in-out;
}

.trip_filters {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.trip_add {
    border: none;
    background-color: #AFAFB5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.trip_add span {
    margin-right: 5px;
}

.slide-down {
    top: 0;
}

.slide-up {
    top: -100%;
}

.filter_options {
    position: fixed;
    /* top: -100%; */
    width: 94%;
    margin-left: -3%;
    background-color: #ffffff;
    z-index: 2;
    padding-top: 2%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: top 0.8s ease-in-out;
    filter: none;
}

.filter_options p {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 13px;
}


.filter_header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.filter_close {
    position: fixed;
    top: 3%;
    right: 2%;
}

.close_button {
    border: none;
    background: none;
}

.filter_city_select {
    display: inline-block;
    padding: 0 34px 0 10px;
    height: 35px;
    font-size: 13px;
    color: #2c2c2c;
    /* Цвет текста */
    border: 1px solid #e1e1e1;
    /* Цвет границы */
    border-radius: 10px;
    /* Радиус скругления */
    appearance: none;
    /* Убирает стандартный вид селекта */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="%232c2c2c" stroke-width="2" d="M6 9l6 6 6-6"/></svg>');
    /* Стрелка */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
    margin: 0 auto;
}

.filter_city_select:focus {
    border-color: #007bff;
    /* Цвет границы при фокусе */
    outline: none;
}

.filter_city_select option {
    padding: 10px;
}

.filter_date_trip {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.filter_date_select {
    display: inline-block;
    width: 32%;
    padding: 10px;
    font-size: 12px;
    color: #2c2c2c;
    /* Цвет текста */
    border: 1px solid #e1e1e1;
    /* Цвет границы */
    border-radius: 10px;
    /* Радиус скругления */
    appearance: none;
    /* Убирает стандартный вид селекта */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="%232c2c2c" stroke-width="2" d="M6 9l6 6 6-6"/></svg>');
    /* Стрелка */
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

.filter_time_trip {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.filter_time_select {
    display: inline-block;
    width: 49%;
    padding: 10px;
    font-size: 12px;
    color: #797984;
    /* Цвет текста */
    border: 1px solid #e1e1e1;
    /* Цвет границы */
    border-radius: 15px;
    /* Радиус скругления */
    appearance: none;
    /* Убирает стандартный вид селекта */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="%232c2c2c" stroke-width="2" d="M6 9l6 6 6-6"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; */
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

.filter_sex_trip {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 6%;
}

.filter_sex_btn {
    display: flex;
    align-items: center;
    width: 32%;
}

.filter_sex_btn label {
    display: flex;
    align-items: center;
    width: 100%;
    display: inline-block;
    background: #EAEAEA;
    color: #797984;
    padding: 10px 3px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.filter_sex_btn label svg {
    margin-right: 3px;
}

.filter_sex_btn input[type=checkbox] {
    display: none;
}

.filter_sex_btn input[type=checkbox]:checked+label,
.filter_sex_btn input[type=checkbox]:checked+label svg path {
    background: #CFDAFF;
    color: #0912DB;
    fill: #0912DB;
}

.filter_buttons {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 400;
}


.reset_button {
    border: none;
    background: #D6D6D6;
    color: #000000;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    margin-top: 20px;
}

.save_button {
    display: block;
    border: none;
    background: #523DD8;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    margin-top: 5px;
}

.fail_button {
    display: block;
    border: none;
    background: #A8A8AC;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    margin-top: 5px;
}

.search_result_item {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    margin-top: 1%;
    border-radius: 15px;
    align-items: center;
}

.search_result_item:first-child {
    margin-top: 2%;
}

.result_item_left {
    margin: 10px;
    color: #0A0930;
}

.result_item_left span {
    font-size: 10px;
    color: #797984;
}

.result_item_left p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.result_item_left h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-right: 10px;
}

.trip_about_button {
    padding: 0;
    border: none;
    border-radius: 15px;
    background: #523DD8;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px;
}

.search_result_item:last-child {
    margin-bottom: 80px;
}

.route_info_slide_in {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    /* transform: translateY(100%);
    animation: slideIn 0.5s forwards; */
}

.route_info_content {
    padding: 0;
    display: block;
    padding-top: 10px;
    width: 100%;
}

.close_button {
    display: block;
    margin-top: 10px;
}

@keyframes slideIn {
    from {
        transform: translateY(1000px);
    }

    to {
        transform: translateY(0);
    }
}

.route_header {
    display: flex;
    margin-right: 30px;
    margin-left: 10px;
}

.route_info_id {
    font-size: 10px;
    font-weight: 400;
    color: #797984;
    text-align: center;
}

.route_info_date {
    font-size: 13px;
    font-weight: 400;
    color: #0A0930;
    text-align: center;
}

.route_info_content h4 {
    font-size: 15px;
    font-weight: 400;
    color: #0A0930;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.route_info_blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    text-align: center;
    color: #0A0930;
}

.route_info_block {
    padding: 10px;
    background: #E9EEF4;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.route_info_ages {
    background: #CFDAFF;
    color: #0912DB;
}

.route_info_small {
    font-size: 12px;
    color: #797984;
}

.route_img {
    width: 100%;
    text-align: center;
    height: 250px;
}

.route_img img {
    width: 100%;
    height: 100%;
}

.route_bottom {
    width: 100%;
}

.route_travelers {
    margin-left: 10px;
    margin-right: 10px;
}

.route_travelers h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
}

.route_button_chat {
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.route_button_chat .button_chat {
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #523DD8;
    width: 100%;
    margin-right: 10px;
    border-radius: 15px;
}

.route_share {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 10px;
    color: #616161;
}

.button_registr {
    border: none;
    padding: 10px;
    color: #ffffff;
    background: #46BED9;
    width: 100%;
    margin-right: 10px;
    border-radius: 15px;
}

.route_register_text {
    margin: 0;
    padding: 0;
    color: #797984;
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}